.message {
    display: flex;
    margin-bottom: 10px;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 8px;
}

.avatar {
    border-radius: 50%;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.content-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content {
    border-radius: 0 .7em .7em 0;
    background-color: #c6e3fa;
    margin-top: 0;
    padding: .6em .9em;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    font-weight: 400;
    font-size: .91em;
    font-variant: normal;
}