.chat-message-row {
    display: flex;
    margin-bottom: 10px;

    ~.system {
        justify-content: center;
        color: rgb(110, 169, 215);
        font-size: 0.8em;
    }

    ~.me {
        justify-content: flex-end;

        .message {
            flex-direction: row-reverse;
        }
    }

    .message {
        display: flex;
    }

    .contentWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
        min-width: 220px;
        position: relative;

        .menu-btn {
            position: absolute;
            top: 15px;
            right: 0;
            color: gray;
        }
    }


    .avatar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 42px;
    }

    .avatar {
        border-radius: 50%;
        box-sizing: border-box;
        width: 42px;
        height: 42px;
        cursor: pointer;
    }

    .content {
        border-radius: .7em;
        background-color: #6ea9d7;
        margin-top: 0;
        padding: 20px;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        word-break: break-word;
        font-weight: 400;
        font-size: .91em;
        font-variant: normal;
    }

    .thread-inf-content {
        cursor: pointer;
    }

    .message-date {
        color: rgb(198, 227, 250);
        font-size: 12px;
        margin-top: 10px;
    }
}