.input {
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 1rem;
    width: 370px;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
    transition: all 0.3s;
    width: 200px;
}

.input:hover {
    box-shadow: 2px 2px 12px #c5c5c5,
        -2px -2px 12px #ffffff;
}

.label {
    display: flex;
    flex-direction: column;

}

.textInput {
    border: none;
    margin-left: 10px;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
    transition: 0.3s;
}

.textInput:focus {
    outline-color: #2775EA;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}