.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    border: solid 1px #d1dbe3;
    box-sizing: border-box;
    color: #000000de;
    background-color: #fff;
    font-size: 1rem;
}