.room-header {
    box-sizing: border-box;
    color: #000000de;
    background-color: #f6fbff;
    font-size: 1em;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: solid 0px #d1dbe3;
    border-right: solid 0px #d1dbe3;
    border-bottom: solid 1px #d1dbe3;
    border-left: solid 0px #d1dbe3;
    padding: .6em .9em;
    justify-content: space-between;

    .content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        justify-content: center;
        min-width: 0;
    }
    
    .title {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
        color: #000000de;
        background-color: #f6fbff;
    }
    
    .info {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #0009;
        background-color: #f6fbff;
        font-weight: 400;
        font-size: .9em;
    }

    .room-header-tools {
        button {
            cursor: pointer;
        }
    }
}

