.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.inner {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

.icon-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

.preview-image {
    width: 100%;
    max-height: 500px;
}