{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
      "node": true
    },
    "plugins": [
      "@typescript-eslint",
      "import"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
      "import/newline-after-import": ["error", { "count": 1 }],
      "import/order": [
        "error",
        {
          "groups": ["external", "builtin", "parent", ["sibling", "index"]]
        }
      ],
      "indent": [
        "error",
        2,
        { "SwitchCase": 1 }
      ],
      "linebreak-style": [
        "error",
        "unix"
      ],
      "quotes": [
        "error",
        "single"
      ],
      "semi": [
        "error",
        "never"
      ],
      "brace-style": [
        "error"
      ],
      "no-multiple-empty-lines": [
        "error",
        {
          "max": 1
        }
      ]
    }
}