.dashboard-graph {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #0073e6;
  background-color: white;
  margin-top: 10px;

  .title {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: #007bff;
  }

  .title:visited {
    color: #007bff;
  }
}
